* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}
.container {
  padding-top: 5rem;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 4rem;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.title {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 3rem;
  font-weight: 800;
  margin-top: 60px;
  margin-bottom: 2rem;
}
.produk {
  margin-top: 2rem;
  width: 960px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.splitter {
  margin-top: 30px;
}
.title2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 3rem;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 2rem;
}
p {
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media screen and (max-width :767px){
  .produk{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title2{
    margin-left: 3rem;
  }
  p{
    margin-left: 30px;
  }
}
@media screen and (max-width :320px){
  .produk{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title2{
    margin-left: 3rem;
  }
  p{
    margin-left: 30px;
  }
}